local.flexwork.io, localhost {
    @http {
        protocol http
    }
    redir @http https://{host}{uri}

    tls internal
    # Reverse proxy for the front-end
    reverse_proxy /* front-end:3000
}
